.BasketUser{
    background-color: #fbfafa;
    width: 100%;
   min-height: calc(100vh - 50px - 50px);
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 30px;
   row-gap: 30px;/* отступ между рядами*/
} 
   
 